<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-$

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4$

    <title>Campus Market Ghana</title>
  </head>
  <body>
    <h1>Campus Market Ghana</h1>

<a href="index.html" type="button" class="btn btn-primary">Home</a>
Campus Market Ghana is one of the leading online marketing in Ghana<br>
Currently Campus Market exist in four of the Ghana's Traditional Universities

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="s$
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/po$
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstra$
  </body>
</html>

